
@{
    ViewData["Title"] = "Início";
}

<h2>Festa de Aniversário</h2>
<hr />  
<p>O meu aniversário vai ser na próxima semana.</p>
<p>Desde já agradeço pela confirmação da presença ou não =)</p>
<!--PARA criar uma link de hiper ligação a outra pagina inserimos a expressão "a" 
    em seguida "asp-action" depois o nome do formulário que deseja fazer a ligação-->
<p>Para continuar, pressione o botão: <a asp-action="formulario"><button>Confirmar</button></a></p>

<hr />
