
@{
    Layout = null;
}

    <h2> Menu Inicial</h2>
    <hr />
    <!--Criado para que possamos acessar de HomeController atravez de um método-->    
    <p><a asp-action="pag1">Página 1</a></p>
    <p><a asp-action="pag2">Página 2</a></p>
    <p><a asp-action="pag3">Página 3</a></p>
