@model asp17Reebot.Models.Clientes
@*Como no exemplo acima se trata de um unico cliente podemos fazer deste modo
no exercicio anterior utilizamos ao IAInumerable por se tratar de um lista de clientes*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h2>DADOS</h2>
    <hr />
    <p>Nome: @Model.Nome</p>
    <p>SobreNome: @Model.Sobrenome</p>

</body>
</html>
