@*Definimos como padrão de layout o _layout criado.*@

@{
    Layout = "_Layout";
    //Definindo um titulo para o index
    ViewBag.Title = "Página Index";
}

<div>
    <h3>Este é o conteúdo de index.cshtml</h3>
</div>