
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>menu_inicial</title>
</head>
<body>
    <h2>MENU INICIAL</h2>
    <hr />
    @*atravez do asp-action definimos o link de acesso do Controller*@ 
    <a asp-action="NovoCliente">Novo Cliente</a>

</body>
</html>
