
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NovoCliente</title>
</head>
<body>
    <!--Criação de um formulário -->
    <form asp-controller="home" asp-action="NovoCliente" method="post">

        <input type="text" name="name" value="" />
        <button>Guardar Novo Cliente</button>

    </form>

</body>
</html>
