<div class="container-fluid Conteudo p-3">
    <h1>Serviços</h1>
    <hr />

    <div class="row">@*Cria uma Class row para definirmos em uma mesma linha os objetos criados*@
        <div class="col-4 p-4 text-center">
        @*col-4 e p-4 deixa predefinido o espaço ocupado na tela*@
            <h4>Serviço 1</h4>
            <p>Descrição do serviço 1...</p>
        </div>

        <div class="col-4 p-4 text-center">
            <h4>Serviço 2</h4>
            <p>Descrição do serviço 2...</p>
        </div>

        <div class="col-4 p-4 text-center">
            <h4>Serviço 3</h4>
            <p>Descrição do serviço 3...</p>
        </div>

    </div>
</div>


