<div class="container-fluid Rodape p-3 text-center">
    <p>@ViewBag.nome_empresa &copy; @DateTime.Now.Year</p>
    <div class="Sociais" icon-center>
        @*  Na estrutura a abaixo podemos através do link criado acessarmos as redes socias *@
        <a href="https://wwww.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://wwww.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://wwww.instagram.com"><i class="fa fa-instagram" > </i></a>
    </div>
</div>