
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@*Como estamos dentra da msm pasta não precisamos informar o caminho completo*@
<a asp-action="About">About</a><br />

<a asp-action="Contact">Contact</a>
